scroll-content {
  overflow-y: hidden;
}

.texto-menu {
  text-align: center;
}

.profile{
    height: 300px;
}
.profile2{
    height: 100px;
    color: #fff;
}
.photo{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.nameUser{
    color: #fff;
}
