<ion-header>

	<ion-navbar primary>
		<button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title text-center>Login</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<p class="text-title" text-center>Cadastre-se, é bem rapido!</p>

<!-- [ngFormModel]="authForm"  -->
	<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
		<!-- [class.error]="!email.valid && email.touched" -->
		<ion-item>
			<ion-label floating>Email</ion-label>
			<ion-input type="text" value="" ngControl="email" [formControl]="authForm.controls['email']"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Password</ion-label>
			<ion-input type="password" value="" ngControl="password" [formControl]="authForm.controls['password']"></ion-input>
		</ion-item>
		<div padding>
		</div>
		<button type="submit" class="custom-button" [disabled]="!authForm.valid" block secondary outline>Criar conta</button>
	</form>

	<p text-center>Já possui cadastro? então clique <b class="aqui" (click)="loginModal()">aqui</b></p>

	<br>
	<ion-item-divider text-center class="ou">ou</ion-item-divider>
	<div padding>
	</div>
	<button class="custom-button" (click)="onLoginFacebook()" block>Login com Facebook</button>



</ion-content>
